USE [master]
GO
/****** Object:  Database [SmartPOSWinForms]    Script Date: 5/25/2026 11:00:05 PM ******/
CREATE DATABASE [SmartPOSWinForms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartPOSWinForms', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartPOSWinForms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartPOSWinForms_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartPOSWinForms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartPOSWinForms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartPOSWinForms]
GO
/****** Object:  Table [dbo].[CashDrawerLogs]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashDrawerLogs](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaNV] [int] NULL,
	[ThoiGianMo] [datetime] NOT NULL,
	[KetQua] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOffers]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOffers](
	[MaUuDai] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[TenUuDai] [nvarchar](150) NOT NULL,
	[PhanTramGiam] [decimal](5, 2) NOT NULL,
	[NgayHetHan] [date] NULL,
	[TrangThai] [bit] NOT NULL,
	[DaSuDung] [bit] NOT NULL,
	[MaHDDaDung] [int] NULL,
	[NgaySuDung] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPointTransactions]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPointTransactions](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaHD] [int] NULL,
	[MaNV] [int] NULL,
	[LoaiGiaoDich] [nvarchar](20) NOT NULL,
	[Diem] [int] NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayThamGia] [datetime] NOT NULL,
	[HangThanhVien] [nvarchar](20) NOT NULL,
	[TongChiTieu] [decimal](18, 2) NOT NULL,
	[SoLanMua] [int] NOT NULL,
	[DiemHienCo] [int] NOT NULL,
	[TongDiemDaDoi] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaLucBan] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLotAllocations]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLotAllocations](
	[MaPhanBo] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaCTHD] [int] NOT NULL,
	[MaLo] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanBo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MaKH] [int] NULL,
	[TongTienTruocGiam] [decimal](18, 2) NOT NULL,
	[DiemSuDung] [int] NOT NULL,
	[GiamGiaDiem] [decimal](18, 2) NOT NULL,
	[MaUuDai] [int] NULL,
	[PhanTramUuDai] [decimal](5, 2) NOT NULL,
	[GiamGiaUuDai] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLots]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLots](
	[MaLo] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NULL,
	[MaCTPN] [int] NULL,
	[MaSP] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[HanSuDung] [date] NULL,
	[SoLuongNhap] [int] NOT NULL,
	[SoLuongTonLo] [int] NOT NULL,
	[GiaNhapLucNhap] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLots_StockSyncBackup]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLots_StockSyncBackup](
	[BatchId] [uniqueidentifier] NOT NULL,
	[BackupAt] [datetime] NOT NULL,
	[MaLo] [int] NOT NULL,
	[MaPN] [int] NULL,
	[MaCTPN] [int] NULL,
	[MaSP] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[HanSuDung] [date] NULL,
	[SoLuongNhap] [int] NOT NULL,
	[SoLuongTonLo] [int] NOT NULL,
	[GiaNhapLucNhap] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[MaVach] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[HanSuDung] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_StockSyncBackup]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_StockSyncBackup](
	[BatchId] [uniqueidentifier] NOT NULL,
	[BackupAt] [datetime] NOT NULL,
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[MaVach] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[HanSuDung] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInDetails]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInDetails](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhapLucNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[HanSuDung] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIns]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIns](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/25/2026 11:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](150) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[Quyen] [nvarchar](20) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CashDrawerLogs] ON 

INSERT [dbo].[CashDrawerLogs] ([MaLog], [MaHD], [MaNV], [ThoiGianMo], [KetQua], [GhiChu]) VALUES (1, 1, 2, CAST(N'2026-03-10T02:18:29.487' AS DateTime), N'Success', N'Mở két sau thanh toán hóa đơn 1')
INSERT [dbo].[CashDrawerLogs] ([MaLog], [MaHD], [MaNV], [ThoiGianMo], [KetQua], [GhiChu]) VALUES (2, 2, 2, CAST(N'2026-03-09T02:18:29.487' AS DateTime), N'Success', N'Mở két sau thanh toán hóa đơn 2')
INSERT [dbo].[CashDrawerLogs] ([MaLog], [MaHD], [MaNV], [ThoiGianMo], [KetQua], [GhiChu]) VALUES (3, 3, 1, CAST(N'2026-03-08T02:18:29.487' AS DateTime), N'Success', N'Mở két sau thanh toán hóa đơn 3')
SET IDENTITY_INSERT [dbo].[CashDrawerLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([MaLoai], [TenLoai], [MoTa], [TrangThai]) VALUES (1, N'Nước giải khát', N'Các loại nước uống đóng chai/lon', 1)
INSERT [dbo].[Categories] ([MaLoai], [TenLoai], [MoTa], [TrangThai]) VALUES (2, N'Bánh kẹo', N'Các loại bánh snack, kẹo, socola', 1)
INSERT [dbo].[Categories] ([MaLoai], [TenLoai], [MoTa], [TrangThai]) VALUES (3, N'Đồ gia dụng', N'Các sản phẩm gia dụng nhỏ', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerOffers] ON 

INSERT [dbo].[CustomerOffers] ([MaUuDai], [MaKH], [TenUuDai], [PhanTramGiam], [NgayHetHan], [TrangThai], [DaSuDung], [MaHDDaDung], [NgaySuDung], [GhiChu], [NgayTao], [NgayCapNhat]) VALUES (1, 11, N'T7D Æ¯u Ä‘Ã£i test 10%', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-06-24' AS Date), 1, 0, NULL, NULL, N'[TEST7D] Æ¯u Ä‘Ã£i cÃ²n hiá»‡u lá»±c Ä‘á»ƒ test POS', CAST(N'2026-05-25T22:53:15.370' AS DateTime), CAST(N'2026-05-25T22:53:15.370' AS DateTime))
INSERT [dbo].[CustomerOffers] ([MaUuDai], [MaKH], [TenUuDai], [PhanTramGiam], [NgayHetHan], [TrangThai], [DaSuDung], [MaHDDaDung], [NgaySuDung], [GhiChu], [NgayTao], [NgayCapNhat]) VALUES (2, 12, N'T7D Æ¯u Ä‘Ã£i test 15%', CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-06-24' AS Date), 1, 0, NULL, NULL, N'[TEST7D] Æ¯u Ä‘Ã£i cÃ²n hiá»‡u lá»±c Ä‘á»ƒ test POS', CAST(N'2026-05-25T22:53:15.370' AS DateTime), CAST(N'2026-05-25T22:53:15.370' AS DateTime))
INSERT [dbo].[CustomerOffers] ([MaUuDai], [MaKH], [TenUuDai], [PhanTramGiam], [NgayHetHan], [TrangThai], [DaSuDung], [MaHDDaDung], [NgaySuDung], [GhiChu], [NgayTao], [NgayCapNhat]) VALUES (3, 13, N'T7D Æ¯u Ä‘Ã£i test 5%', CAST(5.00 AS Decimal(5, 2)), CAST(N'2026-06-24' AS Date), 1, 0, NULL, NULL, N'[TEST7D] Æ¯u Ä‘Ã£i cÃ²n hiá»‡u lá»±c Ä‘á»ƒ test POS', CAST(N'2026-05-25T22:53:15.370' AS DateTime), CAST(N'2026-05-25T22:53:15.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerOffers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerPointTransactions] ON 

INSERT [dbo].[CustomerPointTransactions] ([MaGD], [MaKH], [MaHD], [MaNV], [LoaiGiaoDich], [Diem], [GiaTriGiam], [GhiChu], [NgayTao]) VALUES (2, 11, 68, 11, N'Earn', 25, CAST(0.00 AS Decimal(18, 2)), N'[TEST7D] TÃ­ch Ä‘iá»ƒm hÃ³a Ä‘Æ¡n máº«u', CAST(N'2026-05-19T22:16:15.260' AS DateTime))
INSERT [dbo].[CustomerPointTransactions] ([MaGD], [MaKH], [MaHD], [MaNV], [LoaiGiaoDich], [Diem], [GiaTriGiam], [GhiChu], [NgayTao]) VALUES (3, 12, 69, 11, N'Earn', 89, CAST(0.00 AS Decimal(18, 2)), N'[TEST7D] TÃ­ch Ä‘iá»ƒm hÃ³a Ä‘Æ¡n máº«u', CAST(N'2026-05-19T21:39:15.260' AS DateTime))
INSERT [dbo].[CustomerPointTransactions] ([MaGD], [MaKH], [MaHD], [MaNV], [LoaiGiaoDich], [Diem], [GiaTriGiam], [GhiChu], [NgayTao]) VALUES (4, 13, 70, 11, N'Earn', 26, CAST(0.00 AS Decimal(18, 2)), N'[TEST7D] TÃ­ch Ä‘iá»ƒm hÃ³a Ä‘Æ¡n máº«u', CAST(N'2026-05-19T21:02:15.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerPointTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([MaKH], [HoTen], [SoDienThoai], [DiaChi], [NgayThamGia], [HangThanhVien], [TongChiTieu], [SoLanMua], [DiemHienCo], [TongDiemDaDoi], [TrangThai], [NgayCapNhat]) VALUES (1, N'Nguyễn Văn An', N'0901000001', N'Hà Nội', CAST(N'2026-01-05T00:00:00.000' AS DateTime), N'Gold', CAST(5200000.00 AS Decimal(18, 2)), 18, 520, 100, 1, CAST(N'2026-05-21T15:29:28.560' AS DateTime))
INSERT [dbo].[Customers] ([MaKH], [HoTen], [SoDienThoai], [DiaChi], [NgayThamGia], [HangThanhVien], [TongChiTieu], [SoLanMua], [DiemHienCo], [TongDiemDaDoi], [TrangThai], [NgayCapNhat]) VALUES (2, N'Trần Thị Bình', N'0901000002', N'Thái Bình', CAST(N'2026-01-12T00:00:00.000' AS DateTime), N'Silver', CAST(2800000.00 AS Decimal(18, 2)), 10, 280, 50, 1, CAST(N'2026-05-21T15:29:28.560' AS DateTime))
INSERT [dbo].[Customers] ([MaKH], [HoTen], [SoDienThoai], [DiaChi], [NgayThamGia], [HangThanhVien], [TongChiTieu], [SoLanMua], [DiemHienCo], [TongDiemDaDoi], [TrangThai], [NgayCapNhat]) VALUES (3, N'Lê Minh Cường', N'0901000003', N'Nam Định', CAST(N'2026-02-03T00:00:00.000' AS DateTime), N'Member', CAST(850000.00 AS Decimal(18, 2)), 4, 85, 0, 1, CAST(N'2026-05-21T15:29:28.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGiaLucBan], [ThanhTien]) VALUES (1, 1, 1, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGiaLucBan], [ThanhTien]) VALUES (3, 1, 5, 1, CAST(13000.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGiaLucBan], [ThanhTien]) VALUES (4, 2, 2, 2, CAST(9500.00 AS Decimal(18, 2)), CAST(19000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceLotAllocations] ON 

INSERT [dbo].[InvoiceLotAllocations] ([MaPhanBo], [MaHD], [MaCTHD], [MaLo], [SoLuong]) VALUES (1, 30, 93, 53, 5)
INSERT [dbo].[InvoiceLotAllocations] ([MaPhanBo], [MaHD], [MaCTHD], [MaLo], [SoLuong]) VALUES (2, 30, 94, 7, 3)
INSERT [dbo].[InvoiceLotAllocations] ([MaPhanBo], [MaHD], [MaCTHD], [MaLo], [SoLuong]) VALUES (3, 30, 95, 4, 4)
GO
SET IDENTITY_INSERT [dbo].[InvoiceLotAllocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([MaHD], [NgayLap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaKH], [TongTienTruocGiam], [DiemSuDung], [GiamGiaDiem], [MaUuDai], [PhanTramUuDai], [GiamGiaUuDai]) VALUES (1, CAST(N'2026-03-10T02:18:29.453' AS DateTime), 2, CAST(29000.00 AS Decimal(18, 2)), N'Bán lẻ tại quầy', N'Paid', NULL, CAST(29000.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([MaHD], [NgayLap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaKH], [TongTienTruocGiam], [DiemSuDung], [GiamGiaDiem], [MaUuDai], [PhanTramUuDai], [GiamGiaUuDai]) VALUES (2, CAST(N'2026-03-09T02:18:29.453' AS DateTime), 2, CAST(45000.00 AS Decimal(18, 2)), N'Khách mua nhanh', N'Paid', NULL, CAST(45000.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([MaHD], [NgayLap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaKH], [TongTienTruocGiam], [DiemSuDung], [GiamGiaDiem], [MaUuDai], [PhanTramUuDai], [GiamGiaUuDai]) VALUES (3, CAST(N'2026-03-08T02:18:29.453' AS DateTime), 1, CAST(70000.00 AS Decimal(18, 2)), N'Khách thanh toán tiền mặt', N'Paid', NULL, CAST(70000.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductLots] ON 

INSERT [dbo].[ProductLots] ([MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (1, NULL, NULL, 1, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 50, 0, CAST(7000.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo | Stock sync set duplicate orphan lot to zero')
INSERT [dbo].[ProductLots] ([MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (2, NULL, NULL, 2, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 36, 0, CAST(6800.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo | Stock sync set duplicate orphan lot to zero')
INSERT [dbo].[ProductLots] ([MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (3, NULL, NULL, 3, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 25, 0, CAST(7500.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo | Stock sync set duplicate orphan lot to zero')
GO
SET IDENTITY_INSERT [dbo].[ProductLots] OFF
GO
INSERT [dbo].[ProductLots_StockSyncBackup] ([BatchId], [BackupAt], [MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (N'c83d65a4-6b71-43bb-a294-5b94e1baf3fa', CAST(N'2026-05-21T15:50:17.317' AS DateTime), 1, NULL, NULL, 1, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 50, 48, CAST(7000.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo')
INSERT [dbo].[ProductLots_StockSyncBackup] ([BatchId], [BackupAt], [MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (N'c83d65a4-6b71-43bb-a294-5b94e1baf3fa', CAST(N'2026-05-21T15:50:17.317' AS DateTime), 2, NULL, NULL, 2, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 36, 33, CAST(6800.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo')
INSERT [dbo].[ProductLots_StockSyncBackup] ([BatchId], [BackupAt], [MaLo], [MaPN], [MaCTPN], [MaSP], [NgayNhap], [HanSuDung], [SoLuongNhap], [SoLuongTonLo], [GiaNhapLucNhap], [GhiChu]) VALUES (N'c83d65a4-6b71-43bb-a294-5b94e1baf3fa', CAST(N'2026-05-21T15:50:17.317' AS DateTime), 3, NULL, NULL, 3, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-07-11' AS Date), 25, 21, CAST(7500.00 AS Decimal(18, 2)), N'Dữ liệu tồn khởi tạo')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([MaSP], [TenSP], [MaVach], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MaLoai], [HinhAnh], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat], [HanSuDung]) VALUES (1, N'Coca Cola lon 330ml', N'8934588012223', N'Lon', CAST(7000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 248, 1, NULL, N'Nước ngọt Coca Cola lon', 1, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-05-21T15:50:17.317' AS DateTime), CAST(N'2026-07-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Products] ([MaSP], [TenSP], [MaVach], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MaLoai], [HinhAnh], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat], [HanSuDung]) VALUES (2, N'Pepsi lon 330ml', N'8934588012224', N'Lon', CAST(6800.00 AS Decimal(18, 2)), CAST(9500.00 AS Decimal(18, 2)), 177, 1, NULL, N'Nước ngọt Pepsi lon', 1, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-05-21T15:50:17.317' AS DateTime), CAST(N'2026-07-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Products] ([MaSP], [TenSP], [MaVach], [DonViTinh], [GiaNhap], [GiaBan], [SoLuongTon], [MaLoai], [HinhAnh], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat], [HanSuDung]) VALUES (3, N'Sting dâu 330ml', N'8934588012225', N'Lon', CAST(7500.00 AS Decimal(18, 2)), CAST(11000.00 AS Decimal(18, 2)), 121, 1, NULL, N'Nước tăng lực Sting dâu', 1, CAST(N'2026-03-10T02:18:29.397' AS DateTime), CAST(N'2026-05-21T15:50:17.317' AS DateTime), CAST(N'2026-07-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[StockInDetails] ON 

INSERT [dbo].[StockInDetails] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [GiaNhapLucNhap], [ThanhTien], [HanSuDung]) VALUES (1, 1, 1, 20, CAST(7000.00 AS Decimal(18, 2)), CAST(140000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[StockInDetails] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [GiaNhapLucNhap], [ThanhTien], [HanSuDung]) VALUES (2, 1, 2, 20, CAST(6800.00 AS Decimal(18, 2)), CAST(136000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[StockInDetails] ([MaCTPN], [MaPN], [MaSP], [SoLuong], [GiaNhapLucNhap], [ThanhTien], [HanSuDung]) VALUES (4, 1, 12, 4, CAST(28000.00 AS Decimal(18, 2)), CAST(112000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[StockInDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StockIns] ON 

INSERT [dbo].[StockIns] ([MaPN], [NgayNhap], [MaNV], [TongTien], [GhiChu]) VALUES (1, CAST(N'2026-03-10T02:18:29.423' AS DateTime), 1, CAST(500000.00 AS Decimal(18, 2)), N'Nhập kho ban đầu')
INSERT [dbo].[StockIns] ([MaPN], [NgayNhap], [MaNV], [TongTien], [GhiChu]) VALUES (2, CAST(N'2026-03-07T02:18:29.423' AS DateTime), 3, CAST(1200000.00 AS Decimal(18, 2)), N'Nhập thêm hàng tiêu dùng')
INSERT [dbo].[StockIns] ([MaPN], [NgayNhap], [MaNV], [TongTien], [GhiChu]) VALUES (3, CAST(N'2026-03-03T02:18:29.423' AS DateTime), 3, CAST(850000.00 AS Decimal(18, 2)), N'Nhập hàng đầu tuần')
SET IDENTITY_INSERT [dbo].[StockIns] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([MaNV], [TenNV], [TaiKhoan], [MatKhauHash], [Quyen], [SoDienThoai], [DiaChi], [TrangThai], [NgayTao]) VALUES (1, N'Quản trị viên', N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Admin', N'0900000001', N'Hà Nội', 1, CAST(N'2026-03-10T02:18:29.367' AS DateTime))
INSERT [dbo].[Users] ([MaNV], [TenNV], [TaiKhoan], [MatKhauHash], [Quyen], [SoDienThoai], [DiaChi], [TrangThai], [NgayTao]) VALUES (2, N'Nhân viên bán hàng', N'staff1', N'10176e7b7b24d317acfcf8d2064cfd2f24e154f7b5a96603077d5ef813d6a6b6', N'Staff', N'0900000002', N'Hà Nội', 1, CAST(N'2026-03-10T02:18:29.367' AS DateTime))
INSERT [dbo].[Users] ([MaNV], [TenNV], [TaiKhoan], [MatKhauHash], [Quyen], [SoDienThoai], [DiaChi], [TrangThai], [NgayTao]) VALUES (3, N'Nhân viên kho', N'staff2', N'10176e7b7b24d317acfcf8d2064cfd2f24e154f7b5a96603077d5ef813d6a6b6', N'Staff', N'0900000003', N'Hà Nội', 1, CAST(N'2026-03-10T02:18:29.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_TenLoai]    Script Date: 5/25/2026 11:00:06 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_TenLoai] UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerOffers_MaKH_Status]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerOffers_MaKH_Status] ON [dbo].[CustomerOffers]
(
	[MaKH] ASC,
	[TrangThai] ASC,
	[DaSuDung] ASC,
	[NgayHetHan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerPointTransactions_MaKH_NgayTao]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerPointTransactions_MaKH_NgayTao] ON [dbo].[CustomerPointTransactions]
(
	[MaKH] ASC,
	[NgayTao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_SoDienThoai]    Script Date: 5/25/2026 11:00:06 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_SoDienThoai] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_HangThanhVien]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_HangThanhVien] ON [dbo].[Customers]
(
	[HangThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceDetails_MaHD]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceDetails_MaHD] ON [dbo].[InvoiceDetails]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceDetails_MaSP]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceDetails_MaSP] ON [dbo].[InvoiceDetails]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceLotAllocations_MaHD]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceLotAllocations_MaHD] ON [dbo].[InvoiceLotAllocations]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceLotAllocations_MaLo]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceLotAllocations_MaLo] ON [dbo].[InvoiceLotAllocations]
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_MaNV]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_MaNV] ON [dbo].[Invoices]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_NgayLap]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_NgayLap] ON [dbo].[Invoices]
(
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductLots_MaPN]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductLots_MaPN] ON [dbo].[ProductLots]
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductLots_MaSP_HanSuDung]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductLots_MaSP_HanSuDung] ON [dbo].[ProductLots]
(
	[MaSP] ASC,
	[HanSuDung] ASC,
	[NgayNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_MaVach]    Script Date: 5/25/2026 11:00:06 PM ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Products_MaVach] UNIQUE NONCLUSTERED 
(
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_MaLoai]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_MaLoai] ON [dbo].[Products]
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockInDetails_MaPN]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockInDetails_MaPN] ON [dbo].[StockInDetails]
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockIns_NgayNhap]    Script Date: 5/25/2026 11:00:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockIns_NgayNhap] ON [dbo].[StockIns]
(
	[NgayNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_TaiKhoan]    Script Date: 5/25/2026 11:00:06 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CashDrawerLogs] ADD  DEFAULT (getdate()) FOR [ThoiGianMo]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CustomerOffers] ADD  CONSTRAINT [DF_CustomerOffers_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CustomerOffers] ADD  CONSTRAINT [DF_CustomerOffers_DaSuDung]  DEFAULT ((0)) FOR [DaSuDung]
GO
ALTER TABLE [dbo].[CustomerOffers] ADD  CONSTRAINT [DF_CustomerOffers_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CustomerPointTransactions] ADD  CONSTRAINT [DF_CustomerPointTransactions_GiaTriGiam]  DEFAULT ((0)) FOR [GiaTriGiam]
GO
ALTER TABLE [dbo].[CustomerPointTransactions] ADD  CONSTRAINT [DF_CustomerPointTransactions_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_NgayThamGia]  DEFAULT (getdate()) FOR [NgayThamGia]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_HangThanhVien]  DEFAULT ('Member') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_TongChiTieu]  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_SoLanMua]  DEFAULT ((0)) FOR [SoLanMua]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_DiemHienCo]  DEFAULT ((0)) FOR [DiemHienCo]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_TongDiemDaDoi]  DEFAULT ((0)) FOR [TongDiemDaDoi]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Paid') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_TongTienTruocGiam]  DEFAULT ((0)) FOR [TongTienTruocGiam]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_DiemSuDung]  DEFAULT ((0)) FOR [DiemSuDung]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_GiamGiaDiem]  DEFAULT ((0)) FOR [GiamGiaDiem]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PhanTramUuDai]  DEFAULT ((0)) FOR [PhanTramUuDai]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_GiamGiaUuDai]  DEFAULT ((0)) FOR [GiamGiaUuDai]
GO
ALTER TABLE [dbo].[ProductLots] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CashDrawerLogs]  WITH CHECK ADD  CONSTRAINT [FK_CashDrawerLogs_Invoices] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Invoices] ([MaHD])
GO
ALTER TABLE [dbo].[CashDrawerLogs] CHECK CONSTRAINT [FK_CashDrawerLogs_Invoices]
GO
ALTER TABLE [dbo].[CashDrawerLogs]  WITH CHECK ADD  CONSTRAINT [FK_CashDrawerLogs_Users] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Users] ([MaNV])
GO
ALTER TABLE [dbo].[CashDrawerLogs] CHECK CONSTRAINT [FK_CashDrawerLogs_Users]
GO
ALTER TABLE [dbo].[CustomerOffers]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOffers_Customers] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Customers] ([MaKH])
GO
ALTER TABLE [dbo].[CustomerOffers] CHECK CONSTRAINT [FK_CustomerOffers_Customers]
GO
ALTER TABLE [dbo].[CustomerOffers]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOffers_Invoices_Used] FOREIGN KEY([MaHDDaDung])
REFERENCES [dbo].[Invoices] ([MaHD])
GO
ALTER TABLE [dbo].[CustomerOffers] CHECK CONSTRAINT [FK_CustomerOffers_Invoices_Used]
GO
ALTER TABLE [dbo].[CustomerPointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPointTransactions_Customers] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Customers] ([MaKH])
GO
ALTER TABLE [dbo].[CustomerPointTransactions] CHECK CONSTRAINT [FK_CustomerPointTransactions_Customers]
GO
ALTER TABLE [dbo].[CustomerPointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPointTransactions_Invoices] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Invoices] ([MaHD])
GO
ALTER TABLE [dbo].[CustomerPointTransactions] CHECK CONSTRAINT [FK_CustomerPointTransactions_Invoices]
GO
ALTER TABLE [dbo].[CustomerPointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPointTransactions_Users] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Users] ([MaNV])
GO
ALTER TABLE [dbo].[CustomerPointTransactions] CHECK CONSTRAINT [FK_CustomerPointTransactions_Users]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Invoices] ([MaHD])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Products] ([MaSP])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[InvoiceLotAllocations]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLotAllocations_InvoiceDetails] FOREIGN KEY([MaCTHD])
REFERENCES [dbo].[InvoiceDetails] ([MaCTHD])
GO
ALTER TABLE [dbo].[InvoiceLotAllocations] CHECK CONSTRAINT [FK_InvoiceLotAllocations_InvoiceDetails]
GO
ALTER TABLE [dbo].[InvoiceLotAllocations]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLotAllocations_Invoices] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Invoices] ([MaHD])
GO
ALTER TABLE [dbo].[InvoiceLotAllocations] CHECK CONSTRAINT [FK_InvoiceLotAllocations_Invoices]
GO
ALTER TABLE [dbo].[InvoiceLotAllocations]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLotAllocations_ProductLots] FOREIGN KEY([MaLo])
REFERENCES [dbo].[ProductLots] ([MaLo])
GO
ALTER TABLE [dbo].[InvoiceLotAllocations] CHECK CONSTRAINT [FK_InvoiceLotAllocations_ProductLots]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_CustomerOffers] FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[CustomerOffers] ([MaUuDai])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_CustomerOffers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Customers] ([MaKH])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Users] ([MaNV])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [FK_ProductLots_Products] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Products] ([MaSP])
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [FK_ProductLots_Products]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [FK_ProductLots_StockInDetails] FOREIGN KEY([MaCTPN])
REFERENCES [dbo].[StockInDetails] ([MaCTPN])
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [FK_ProductLots_StockInDetails]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [FK_ProductLots_StockIns] FOREIGN KEY([MaPN])
REFERENCES [dbo].[StockIns] ([MaPN])
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [FK_ProductLots_StockIns]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Categories] ([MaLoai])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockInDetails_Products] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Products] ([MaSP])
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [FK_StockInDetails_Products]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockInDetails_StockIns] FOREIGN KEY([MaPN])
REFERENCES [dbo].[StockIns] ([MaPN])
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [FK_StockInDetails_StockIns]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Users] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Users] ([MaNV])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Users]
GO
ALTER TABLE [dbo].[CashDrawerLogs]  WITH CHECK ADD  CONSTRAINT [CK_CashDrawerLogs_KetQua] CHECK  (([KetQua]='Failed' OR [KetQua]='Success'))
GO
ALTER TABLE [dbo].[CashDrawerLogs] CHECK CONSTRAINT [CK_CashDrawerLogs_KetQua]
GO
ALTER TABLE [dbo].[CustomerOffers]  WITH CHECK ADD  CONSTRAINT [CK_CustomerOffers_PhanTramGiam] CHECK  (([PhanTramGiam]>(0) AND [PhanTramGiam]<=(100)))
GO
ALTER TABLE [dbo].[CustomerOffers] CHECK CONSTRAINT [CK_CustomerOffers_PhanTramGiam]
GO
ALTER TABLE [dbo].[CustomerPointTransactions]  WITH CHECK ADD  CONSTRAINT [CK_CustomerPointTransactions_GiaTriGiam] CHECK  (([GiaTriGiam]>=(0)))
GO
ALTER TABLE [dbo].[CustomerPointTransactions] CHECK CONSTRAINT [CK_CustomerPointTransactions_GiaTriGiam]
GO
ALTER TABLE [dbo].[CustomerPointTransactions]  WITH CHECK ADD  CONSTRAINT [CK_CustomerPointTransactions_LoaiGiaoDich] CHECK  (([LoaiGiaoDich]='Adjust' OR [LoaiGiaoDich]='Redeem' OR [LoaiGiaoDich]='Earn'))
GO
ALTER TABLE [dbo].[CustomerPointTransactions] CHECK CONSTRAINT [CK_CustomerPointTransactions_LoaiGiaoDich]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_DiemHienCo] CHECK  (([DiemHienCo]>=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_DiemHienCo]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_HangThanhVien] CHECK  (([HangThanhVien]='Platinum' OR [HangThanhVien]='Gold' OR [HangThanhVien]='Silver' OR [HangThanhVien]='Member'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_HangThanhVien]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_SoLanMua] CHECK  (([SoLanMua]>=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_SoLanMua]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_TongChiTieu] CHECK  (([TongChiTieu]>=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_TongChiTieu]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_TongDiemDaDoi] CHECK  (([TongDiemDaDoi]>=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_TongDiemDaDoi]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceDetails_DonGiaLucBan] CHECK  (([DonGiaLucBan]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [CK_InvoiceDetails_DonGiaLucBan]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceDetails_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [CK_InvoiceDetails_SoLuong]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceDetails_ThanhTien] CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [CK_InvoiceDetails_ThanhTien]
GO
ALTER TABLE [dbo].[InvoiceLotAllocations]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceLotAllocations_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[InvoiceLotAllocations] CHECK CONSTRAINT [CK_InvoiceLotAllocations_SoLuong]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_TongTien]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_TrangThai] CHECK  (([TrangThai]='Cancelled' OR [TrangThai]='Paid'))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_TrangThai]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [CK_ProductLots_GiaNhapLucNhap] CHECK  (([GiaNhapLucNhap]>=(0)))
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [CK_ProductLots_GiaNhapLucNhap]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [CK_ProductLots_SoLuongNhap] CHECK  (([SoLuongNhap]>(0)))
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [CK_ProductLots_SoLuongNhap]
GO
ALTER TABLE [dbo].[ProductLots]  WITH CHECK ADD  CONSTRAINT [CK_ProductLots_SoLuongTonLo] CHECK  (([SoLuongTonLo]>=(0)))
GO
ALTER TABLE [dbo].[ProductLots] CHECK CONSTRAINT [CK_ProductLots_SoLuongTonLo]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_GiaBan] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_GiaBan]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_GiaNhap] CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_GiaNhap]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_SoLuongTon]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [CK_StockInDetails_GiaNhapLucNhap] CHECK  (([GiaNhapLucNhap]>=(0)))
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [CK_StockInDetails_GiaNhapLucNhap]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [CK_StockInDetails_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [CK_StockInDetails_SoLuong]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [CK_StockInDetails_ThanhTien] CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [CK_StockInDetails_ThanhTien]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [CK_StockIns_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [CK_StockIns_TongTien]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Quyen] CHECK  (([Quyen]='Staff' OR [Quyen]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Quyen]
GO
USE [master]
GO
